.screen-container{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main-wrapper{
    /* flex: 1 1 auto; */
    display: flex;
    min-height: calc(100vh - 144.6px);
}

.main-box {
    display: flex;
    flex-direction: column;
    padding-left: 16rem;
    flex: 1 1;
}

.main-box.auth {
    padding-left: 0rem;
}