.screen-container{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main-wrapper{
    /* flex: 1 1 auto; */
    display: flex;
    min-height: 100vh;
}

.main-box {
    display: flex;
    flex-direction: column;
    padding-left: 16rem;
    flex: 1 1;
}

.main-box.auth {
    padding-left: 0rem;
}

.main-content-area{
    display: flex;

    padding: 0px 1rem;
}