.main-top-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    /* max-width: 1200px; */
}

.main-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 4px;

    margin-left: 4rem;
}

.main-top-text1{
    height: 24px;
    font-size: 22px;
}

.main-top-text2{
    font-size: 1.2rem;
    height: auto;
}

.main-top-container-mobile{
    display: none;
}

@media(max-width: 58rem){
    .main-top-text1{
        font-size: 1rem;
        height: auto;
    }
    
    .main-top-text2{
        font-size: 1rem;
        height: auto;
    }

    .main-top-container{
        display: none;
    }

    .main-top-container-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 1rem;
        gap: 0.2rem;
    }

    .main-top-box{
        height: 5rem;
    }
}