html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.quad-green{
  color: rgb(0, 128, 75) !important;
}

.quad-green-background{
  background-color: #00804b !important;
}

.icon-box{
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box-small{
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.emphasis{
  font-weight: bolder;
}

.word-badge{
  padding: 6px 20px;

  color: rgba(0, 0, 0, 0.8);

  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.word-badge:hover{
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.black-button{
  border-radius:  46px;
  width: 95px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 1);

  color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.black-button:hover{
  background-color: rgba(0, 0, 0, 0.85);
}

.green-large-full-button{
  border-radius: 46px; 
  
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgba(0, 0, 0, 1); */
  background-color: #00804b;
  border: 1.5px solid #00804b;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.green-large-full-button:hover{
  background-color: rgba(0, 128, 75, 0.9);
  border: 1.5px solid rgba(0, 128, 75, 0.9);
}

.green-empty-large-full-button{
  border-radius: 46px; 
  
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1.5px solid #00804b;

  /* background-color: rgba(0, 0, 0, 1); */
  /* background-color: #00804b; */

  /* color: rgba(255, 255, 255, 1); */
  color: #013620;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.disable-button{
  border-radius:  46px;
  width: 95px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);

  color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: not-allowed;
}

.white-button{
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius:  46px;
  width: 93px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);

  color: rgba(0, 0, 0, 0.8);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.white-button:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.icon-button{
  border-radius: 50% 50%;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.icon{
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.eye-light-off-icon{
  background-image: url(assets/image/eye-light-off.png);
}

.eye-light-on-icon{
  background-image: url(assets/image/eye-light-on.png);
}

.expand-left-light-icon{
  background-image: url(assets/image/expand-left-light.png);
}

.expand-right-light-icon{
  background-image: url(assets/image/expand-right-light.png);
}

.expand-left-icon{
  background-image: url(assets/image/expand-left.png);
}

.expand-right-icon{
  background-image: url(assets/image/expand-right.png);
}

.logo-light-icon{
  background-image: url(assets/image/logo-light.png);
}

.insta-icon{
  background-image: url(assets/image/insta.png);
}

.naver-blog-icon{
  background-image: url(assets/image/naver-blog.png);
}

.logo-dark-icon{
  background-image: url(assets/image/logo-dark.png);
}

.search-light-icon{
  background-image: url(assets/image/search-light.png);
}

.check-round-fill-icon{
  background-image: url(assets/image/check-round-fill.png);
}

.check-ring-light-icon{
  background-image: url(assets/image/check-ring-light.png);
}

.image-box-light-icon{
  background-image: url(assets/image/image-box-light.png);

}

.close-icon{
  background-image: url(assets/image/close.png);
}

.more-icon{
  background-image: url(assets/image/more.png);
}

.favorite-fill-icon{
  background-image: url(assets/image/favorite-fill.png);
}

.favorite-light-icon{
  background-image: url(assets/image/favorite-light.png);
}

.up-light-icon{
  background-image: url(assets/image/expand-up-light.png);
}

/* .favorite-icon{
  background-image: url(assets/image/favorite-light.png);
} */

.down-light-icon{
  background-image: url(assets/image/expand-down-light.png);
}

.comment-icon{
  background-image: url(assets/image/chat-light.png);
}

.quad-logo-white{
  background-image: url(assets/image/quad-logo-white.png);
}

.quad-logo-green{
  background-image: url(assets/image/quad-logo-green.png);
}

.swing{
  background-image: url(assets/image/swing.png);
}

.full-heart{
  background-image: url(assets/image/full-heart.png);
}

.empty-heart{
  background-image: url(assets/image/empty-heart.png);
}

.empty-star{
  background-image: url(assets/image/empty-heart.png);
}

.google-logo{
  width: 28px;
  height: 28px;

  background-image: url(assets/image/google-logo.png);

  background-position:  50% 50%;
  background-size: 100% 100%;
}

.star{
  background-image: url(assets/image/full-star.png);
}

.half-star{
  background-image: url(assets/image/half-star.png);
}

.empty-star{
  background-image: url(assets/image/empty-star.png);
}