/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto', sans-serif;
  min-width: 1440px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GimhaeGaya';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimhaeGayaR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic';
  src: url('assets/font/League-Gothic/LeagueGothic-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('assets/font/BebasNeue-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}


.arts-color{
  background-color: #A61E32;
}

.bus-color{
  background-color: #860064;
}

.cai-color{
  background-color: #E4660B;
}

.edu-color{
  background-color: #52A01B;
}

.eng-color{
  background-color: #492973;
}

.law-color{
  background-color: #03618F;
}

.med-color{
  background-color: #028384;
}

.sci-color{
  background-color: #0055A0;
}

.gen-color{
  background-color: #CFC70A;
}