#footer{
    padding: 32px 1rem 40px 1rem;
    background-color: rgba(55, 55, 55, 1);
    
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-box{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-logo-text{
    color: rgba(255, 255, 255, 1);
    font-family: BebasNeue-Regular;
    /* font-family: 'GimhaeGaya'; */
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    padding-top: 4.5px;
}

.footer-link-box{
    display: flex;
    align-items: center;

    gap: 20px;
}

.footer-email-link{
    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.footer-copy-right{
    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}