.main-right{
    max-height: 600px;
    max-width: 10rem;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #f2f7fc;
    flex:1 1 auto;
    flex-shrink: 10;
    min-width: 0;
}