.main-right{
    height: 40rem;
    max-width: 12rem;

    width: 100%;
    margin: 0 auto;
    background-color: #F5F8FA;
    flex:1 1 auto;
    flex-shrink: 10;
    min-width: 0;

    margin-bottom: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-box{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    line-height: 120%;
    font-weight: 600;

    color: rgba(0, 0, 0, 0.7);
}