.review{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: auto;

  margin-bottom: 60px;
}

.review-container{
  width: 830px;
  height: auto;

  max-width: 52rem;
  width: 100%;
  min-width: 0;
  margin: 0rem auto 5rem auto;
  flex: 1 1 auto;
  flex-shrink: 1;
  padding: 0rem 1rem;
}

.review-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    max-width: 1200px;
    width: 100%;
}

.review-faculty-list-box{
    width: 830px;

    display: flex;
    align-items: center;
    gap: 4px;

    padding: 3px 0px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    margin-bottom: 6px;
}

.department-container{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 4px 20px;

    border-radius: 2px;

    cursor: pointer;
    
}

.department-text{
    font-size: 14px;
    /* font-weight: 600; */
    font-family: Arial, Helvetica, sans-serif;
}

.department-icon{
  position: relative;
  top: -0.5px;
  font-size: 12px;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* .arts-color{
    background-color: rgb(164, 30, 50, 0.03);
    border-bottom: 1.2px solid rgb(164, 30, 50, 1);
  }
  
  .bus-color{
    background-color: rgb(133, 0, 99, 0.03);
    border: 1.2px solid rgb(133, 0, 99);
  }
  
  .cai-color{
    background-color: rgb(229, 102, 11, 0.03);
    border: 1.2px solid rgb(229, 102, 11);
  }
  
  .edu-color{
    background-color: rgb(83, 161, 27, 0.03);
    border: 1.2px solid rgb(83, 161, 27);
  }
  
  .eng-color{
    background-color: rgb(74, 42, 116, 0.03);
    border: 1.2px solid rgb(74, 42, 116);
  }
  
  .law-color{
    background-color: rgb(3, 97, 143, 0.03);
    border: 1.2px solid rgb(3, 97, 143);
  }
  
  .med-color{
    background-color: rgb(2, 131, 132, 0.03);
    border: 1.2px solid rgb(2, 131, 132);
  }
  
  .sci-color{
    background-color: rgb(0, 85, 160, 0.03);
    border: 1.2px solid rgb(0, 85, 160);
  }
  
  .gen-color{
    background-color: rgb(207, 199, 10, 0.03);
    border: 1.2px solid rgb(207, 199, 10);
  } */

  .art-color {
    background-color: rgb(164, 30, 50);
    color: white;
  }
  
  .bus-color {
    background-color: rgb(133, 0, 99);
    color: white;
  }
  
  .cai-color {
    background-color: rgb(229, 102, 11);
    color: white;
  }
  
  .edu-color {
    background-color: rgb(83, 161, 27);
    color: white;
  }
  
  .eng-color {
    background-color: rgb(74, 42, 116);
    color: white;
  }
  
  .law-color {
    background-color: rgb(3, 97, 143);
    color: white;
  }
  
  .med-color {
    background-color: rgb(2, 131, 132);
    color: white;
  }
  
  .sci-color {
    background-color: rgb(0, 85, 160);
    color: white;
  }
  
  .gen-color {
    background-color: rgb(207, 199, 10);
    color: white;
  }

.review-box-container{
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 10px;
}

.top-course-name{
  font-family: "Special Gothic Condensed One", sans-serif;
  font-size: 19px;

  position: relative;
  top: 1px;
}

/* --------review description content------- */

.review-description-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1rem;
}

.review-description-info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  gap: 0.5rem;
}

.review-description-top-title{
  font-family: "Special Gothic Condensed One", sans-serif;
  font-size: 2rem;
}

.review-description-top-exam-container{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem 0.25rem;
  border-radius: 0.5rem;

  /* border: 0.1rem solid rgba(255, 0, 0, 0.45);
  background-color: rgba(255, 0, 0, 0.2);
  color: rgb(117, 1, 1); */

  /* border: 0.1rem solid rgba(0, 128, 0, 0.4);
  background-color: rgba(0, 128, 0, 0.07);
  color: rgb(1, 58, 1); */

  border: 0.1rem solid rgba(84, 174, 255, 0.7);
  background-color: rgba(221, 244, 255, 0.8);
  color: rgb(3, 57, 119);

  font-size: 14px;
  font-weight: 500;

  position: relative;
  top: -0.4rem;
}

.review-description-semester-box{
  display: flex;
  align-items: center;

  position: relative;
  top: -0.4rem;

  gap: 0.1rem;
}

.review-description-semester-container{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem 0.25rem;
  border-radius: 0.5rem;

  font-size: 14px;
  font-weight: 500;
}

.review-description-semester-container:nth-of-type(1){
  border: 0.1rem solid rgba(0, 0, 255, 0.25);
  background-color: rgba(0, 0, 255, 0.045);
  color: rgba(2, 2, 162, 0.9);
}

/* .review-description-semester-container:nth-of-type(2) {
  border: 0.1rem solid rgba(255, 140, 0, 0.65);      
  background-color: rgba(255, 140, 0, 0.15);
  color: rgb(105, 70, 6);                         
} */

.review-description-semester-container:nth-of-type(2){

  border: 0.1rem solid rgba(255, 0, 0, 0.45);
  background-color: rgba(255, 0, 0, 0.08);
  color:rgb(140, 0, 0);
}

.review-description-semester-container:nth-of-type(3){
  /* border: 0.1rem solid rgba(84, 174, 255, 0.7);
  background-color: rgba(221, 244, 255, 0.8);
  color: rgb(3, 57, 119); */
  border: 0.1rem solid rgba(0, 125, 0, 0.5);
  background-color: rgba(0, 128, 0, 0.07);
  color: rgb(1, 58, 1);
}

.review-description-link-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-description-link-text{
  text-decoration: underline;
  color: rgb(5, 5, 190);

  font-size: 0.9rem;

  cursor: pointer;
}

.review-description-link-box{
  display: flex;
  flex-direction: column;

  gap: 0.2rem;
}

.fa-arrow-up-right-from-square{
  color: rgb(5, 5, 190);
}

.review-description-link-item:hover{
  font-weight: 500;
}

.overall-star{
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 1.6rem;
  height: 1.6rem;
}

.overall-rating-container{
  display: flex;
  gap: 0.2rem;
}

.star-overall-wrapper{
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  top: 1px;
}

.review-description-restriction-text{
  font-size: 0.9rem;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.85);
}

.review-not-exist-text-box{
  font-size: 1rem;
  font-weight: 500;

  color: rgb(227, 13, 13);
}

.review-description-overall{
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  min-width: 0px;
  flex: 1 1 auto;
  width: 100%;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;

  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  padding: 1rem;

  gap: 0.25rem;
}

.review-description-overall-top{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.review-description-overall-bot{
  display: flex;
  align-items: center;

  min-width: 0px;
  flex: 1 1 auto;

  padding: 0rem 3rem;

  gap: 4rem;
}

.review-description-overall-stars{
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-description-overall-review-numbers{
  margin-top: 0.75rem;
  text-align: center;

  font-size: 0.75rem;
  font-weight:500;
  color: rgba(0, 0, 0, 0.55);
}

.review-description-overall-score-box{
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.review-description-overall-score{
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: rgb(248, 189, 52);
}

.review-description-overall-chart-box{
  display: flex;
  flex-direction: column;
  flex: 2;

  gap: 0.25rem;
}

.review-description-overall-chart-top{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.1rem;
}

.grey-dot{
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 0.12rem;

  background-color: rgba(128, 128, 128, 0.9);
}

.review-description-overall-name{
  font-size: 0.85rem;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.85);
}

.review-description-overall-item{
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.review-description-overall-comment-text{
  font-size: 0.8rem;
  font-weight: 500;

  border-radius: 0.5rem;
}

.review-description-overall-comment-text:nth-of-type(1){
  color: #d93f0b;
}

.review-description-overall-comment-text:nth-of-type(3){
  color: #0f6dd8;
}

.review-description-overall-comment-text:nth-of-type(5){
  color: #0f6dd8;
}

.review-description-overall-comment-text:nth-of-type(7){
  color: #d93f0b;
}

.review-description-overall-text{
  display: flex;
  align-items: center;

  gap: 0.5rem;
  flex: 2.2;
}

.review-description-overall-number{
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 0.75rem;
}

.review-description-overall-bar-container {
  width: 100%;
  /* max-width: 200px; */
  height: 0.4rem;

  flex: 6;
}

.review-description-overall-bar-grey {
  background-color: rgb(232,232,232);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;
}

.review-description-overall-bar-yellow {
  background-color: rgb(248,189,52);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
}

.review-description-description{
  margin-top: 0.1rem;

  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.7);

  font-weight: 400;

  position: relative;
  top: -0.1rem;
}

.review-description-ai-container{
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  border-radius: 0.2rem;
}

.review-description-ai-top{
  display: flex;
  align-items: center;

  gap: 0.4rem;
}

.review-description-ai-text{
  font-size: 1.2rem;
  font-weight: 500;
}

.review-description-ai-content{
  font-size: 1rem;
  line-height: 140%;
}

.highlight-keyword {
  color: black;
}