.sidebar-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    border-radius: 4px;
    background-color: #00804b18;
}

.btn-container{
    height: 48px;
    padding-left: 1rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    cursor: pointer;
}

.btn-icon{
    font-size: 20px;
}

.btn-text{
    font-size: 20px;
}