.high-light-content{
    width: 397px;
    height: 400px;
}

.high-light-content-top{
    background-color: rgb(217, 217, 217, 0.3);
    height: 50px;
    
    display: flex;
    align-items: center;
    border-radius: 3px;

    padding: 0px 12px;

    gap: 6px;
}
.high-light-content-top-emo,
.high-light-content-top-message{
    font-size: 20px;
    font-weight: 500;
}

.contentCard{
    padding: 12px 12px; 
    
    display: flex;
    flex-direction: column;
    gap: 6px;

    border-bottom: 0.9px solid rgba(0, 0, 0, 0.2);
}

.contentCard:hover{
    margin-left: 4px;
    cursor: pointer;
}

.content-card-top{
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.content-card-top-left{
    display: flex;
    gap: 6px;
}

.content-course-name{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    font-family: Verdana, Geneva, sans-serif;
}


.content-card-top-right{
    display: flex;
}

.content-card-likes{
    display: flex;
    align-items: center;
    gap: 0.2px;
    
    width: 30px;
    height: 100%;
}

.divider{
    width: 1px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5)
}

.content-card-view-box{
    display: flex;
}

.content-card-right-content{
    display: flex;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
    gap: 5px;
    align-items: center;
}

.content-card-content{
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.9);
}

.content-rate{
    position: relative;
    display: flex;
    gap: 1px;
    top: -0.5px;
}
.star-wrapper {
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
    
    top: 1px;
}

.highlight-star {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.content-card-icon{
    position: relative;
    top: 0.5px;
    
    width: 13px;
    height: 12.5px;

    background-position: 50% 50%;
    background-size: 100% 100%;
}