#auth-wrapper{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    /* background-image: url(assets/auth-background.png); */
    /* background-image: url(../../assets/image/swing.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto; */
}

.auth-container{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;

    gap: 2rem;

    padding: 0rem 1rem;
}

.auth-jumbotron-box, .auth-card{
    box-sizing: border-box;
}

.auth-jumbotron-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    max-height: 40rem;
    width: 36rem;

    padding-top: 4rem;

    /* width: 40rem; */
    /* flex-shrink: 1;
    flex-basis: 40rem;
    max-width: 40rem;
    min-width: 0;  */

    /* max-width: 40rem;

    flex: 1.5 1 40rem; */
}
.auth-card {
    /* flex: 1 1 36rem;

    max-width: 36rem; */

    /* flex: 1; */
    border-radius: 10px;
    padding: 2rem;
    /* min-width: 30rem; */

    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    /* max-height: 40rem;
    width: 30rem; */
    width: 29rem;

    /* flex-shrink: 1;
    flex-basis: 31rem;
    max-width: 31rem;
    min-width: 0;  */
}

.auth-jumbotron-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    cursor: pointer;
}

.auth-jumbotron-textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.auth-jumbotron-text{
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto';
    font-size: 31px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1.2px;
    text-align: left;
}

.auth-card-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 25rem;

    gap: 2rem;
}

.auth-card-top{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0.25rem;
}

.auth-card-title-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.auth-card-title{
    color: rgba(0, 0, 0, 1);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.auth-card-page{
    color: rgba(0, 0, 0, 0.75);

    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.auth-card-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.auth-sign-in-error-box{
    margin-bottom: -4px;
}

.auth-sign-in-error-message{
    color: rgba(255, 0, 0, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;

    white-space: pre-wrap;
}

.auth-description-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-description{
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-description-link{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    cursor: pointer;
}

.forgot-password-container{
    margin-left: auto;
    position: relative;
    bottom: 0.75rem;
    right: 0.5rem;
}

.forgot-password-text{
    color: rgba(0, 0, 0, 0.8);

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 140%;
}

.forgot-password-text:hover{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    cursor: pointer;
}

.auth-consent-box{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.auth-check-box{
    cursor: pointer;

    width: 24px;
    height: 24px;

    background-image: url();
}

.auth-consent-title{
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-consent-title-error{
    color: rgba(256, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-consent-link{
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.green-large-full-button{
    margin-bottom: 12px;
}

.google-oauth-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-oauth-button{
  border-radius: 46px; 
  
  width: 100%;
  height: 48px;

  background-color: rgba(0, 0, 0, 0.78);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;

  cursor: pointer;
  gap: 14px;
  margin-bottom: 18px;
}

.google-oauth-button:hover{
    border-radius: 46px; 
  
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 16px;
    line-height: 140%;
  
    cursor: pointer;
    gap: 14px;
    margin-bottom: 18px;
  }

.google-oauth-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-empty-large-full-button{
    margin-bottom: 12px;
}

.forgot-password-title-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forgot-password-title-box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.forgot-password-title-box-description{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.75);
}

.confirm-card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin: auto;

    min-height: 24rem;
}

.password-confirmation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-confirmation-text-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.password-confirmation-text-top{
    font-size: 1.4rem;
}

.password-confirmation-text-bot{
    font-size: 1.1rem;
}

.mobile-auth-icon{
    display: none;
}

@media screen and (max-width: 1150px) {
    .auth-card {
        width: 100%;
        max-width: 30rem;
    }
}

@media screen and (max-width: 950px) {
    .mobile-auth-icon{
        display: block;
    }

    .mobile-auth-icon{
        height: 40px !important;
        width: 40px !important;
    }

    .auth-jumbotron-box{
        display: none;
    }

    .auth-card {
        width: 100%;
        min-width: 36rem;
    }
}

@media screen and (max-width: 650px) {
    .auth-card{
        width: 100vw;
        height: 100vh;

        box-shadow: none;

        min-width: 0;

        padding: 1.5rem;
    }

    .google-oauth-button, .green-large-full-button, .green-empty-large-full-button{
        height: 40px;
    }

    .icon.eye-light-off-icon{
        height: 22px !important;
        width: 22px !important;
    }

    .auth-card-title{
        font-size: 1.8rem !important;
        color: rgba(0, 0, 0, 0.9) !important;
    }

    .google-logo{
        width: 24px !important;
        height: 24px !important;
    }
}

