.main{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    margin-bottom: 60px;
    padding: 0rem 1rem;
}

.main-top-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
}

.main-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 800px;
    gap: 4px;
}

.main-top-text1{
    height: 24px;
    font-size: 22px;
}

.main-top-text2{
    font-size: 18px;
    height: 26px;
}

.main-container{
    max-width: 52rem;
    width: 100%;
    min-width: 0;
    margin: 0px auto;
    flex: 1 1 auto;
    flex-shrink: 1;
}

.main-container-graph{
    display: flex;
    justify-content: center;
    border-bottom: 8px;
}

.main-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 75rem;
    width: 100%;
    min-width: 0rem;
}

.main-container-content {
  max-width: 52rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}