.main{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.main-top-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
}

.main-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 800px;
    gap: 4px;
}

.main-top-text1{
    height: 24px;
    font-size: 22px;
}

.main-top-text2{
    font-size: 18px;
    height: 26px;
}

.main-container{
    width: 848px;
    height: 800px;
    /* background-color: aliceblue; */
}

.main-container-graph{
    display: flex;
    justify-content: center;
}

.main-right{
    width: 168px;
    height: 800px;
    background-color: antiquewhite;
    background-color: #f2f7fc;
}

.main-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    max-width: 1200px;
    width: 100%;
}

.main-container-content{
    /* background-color: darkkhaki; */
    border: 1px solid black;
    display: flex;

    width: 100%;
    gap: 36px;
}

.high-light-content{
    border: 1px solid violet;
    width: 394.305px;
    height: 400px;
}

.high-light-content-top{
    background-color: #f2f7fc;
    height: 60px;
}

.content-card-top{
    display: flex;
}

.content-card-view-box{
    display: flex;
}

.content-card-time{
    display: flex;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
    gap: 2px;
}

.content-rate{
    display: flex;
    gap: 1px;
}
.star-wrapper {
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.empty-star,
.star,
.half-star {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 15px;
    height: 15px;
}